* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

.content_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text_box {
    border-radius: 0.5rem;
    margin: 1rem 0.5rem;
    border: solid green;
}

.filter_button {
    margin: 1rem;
    border-radius: 0.5rem;
    border: solid green;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
